<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=BXFOUTZZ400\SQLEXPRESS2014;Initial Catalog=AdventureWorks2014;Persist Security Info=True;User ID=adventureworks_app;Password=password" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>