<h4>Products</h4>
<div class="container-fluid row">
    <div ng-repeat="productSummary in productSummaries">
        <a ng-href="#/product/{{ productSummary.productId }}">
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="height: 250px;">
                <img class="img-thumbnail" ng-src="api/product/getproductthumbnailphoto?productphotoid={{ productSummary.productPhotoId }}" alt="{{ productSummary.productName }}" />
                <h4>{{ productSummary.productName }}</h4>
                <strong>{{ productSummary.listPrice | currency }}</strong>
                <p>{{ productSummary.productDescription }}</p>
            </article>
        </a>
    </div>
</div>    